@model List<Task15.Models.User>

@{
    ViewData["Title"] = "Find users";
}

<form asp-controller="User" asp-action="Find" method="post">
    <div class="form-group">
        <label>Login</label>
        <input class="form-control" type="text" placeholder="Login" name="login">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" placeholder="Name" name="name">
    </div>
    <!-- Sex -->
    <div class="form-group">
        <label >Sex</label>
        <select class="form-control" name="sex">
            <option>Any</option>
            <option>M</option>
            <option>F</option>
        </select>
    </div>
    <div class="form-group">
        <label>Salary</label>
        <input class="form-control" type="number" placeholder="Salary" name="salary">
    </div>
    <div class="form-group">
        <label>Salary option</label>
        <select class="form-control" name="salaryOption" value="Equals">
            <option>Equals</option>
            <option>More Than</option>
            <option>Less Than</option>
        </select>
    </div>
    <input type="submit" value="Find users" class="nav-link text-dark">
</form>
<br>

<!-- Users Table -->
<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Login
            </th>
            <th>
                Name
            </th>
            <th>
                Sex
            </th>
            <th>
                Salary
            </th>
            <th>
                Age
            </th>
            <th>
                BirthDay
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.BirthDay)
            </td>
            <td>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Delete user</a>
            </td>
            <td>
                <a asp-controller="User" asp-action="UpdateIndex" asp-route-id="@user.Id">Update user</a>
            </td>
        </tr>
}
    </tbody>
</table>