@model List<Task15.Models.User>

@{
    ViewData["Title"] = "All users";
}

<!-- Users Table -->
<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Login
            </th>
            <th>
                Name
            </th>
            <th>
                Sex
            </th>
            <th>
                Salary
            </th>
            <th>
                Age
            </th>
            <th>
                BirthDay
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.BirthDay)
            </td>
            <td>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Delete user</a>
            </td>
            <td>
                <a asp-controller="User" asp-action="UpdateIndex" asp-route-id="@user.Id">Update user</a>
            </td>
        </tr>
}
    </tbody>
</table>