@model User

@{
    ViewData["Title"] = "Update user";
}

 <!-- Updating user -->
<form asp-controller="User" asp-action="Update" method="post">
    
    <!-- Id(hidden field) -->
    <div class="form-group">
        <input class="form-control" type="hidden" name="id" asp-for="Id" value="@Model.Id">
    </div>

    <!-- New Login -->
    <div class="form-group">
        <label >Login</label>
        <input class="form-control" type="text" name="login" asp-for="Login" placeholder="New login" value="@Model.Login">
    </div>

    <!-- New Name -->
    <div class="form-group">
        <label >Name</label>
        <input class="form-control" type="text" name="name" asp-for="Name" placeholder="New name" value="@Model.Name">
    </div>

    <!-- New Sex -->
    <div class="form-group">
        <label >Sex</label>
        <select required class="form-control" name="sex" asp-for="Sex" placeholder="New sex" value="@Model.Sex">
            <option>M</option>
            <option>F</option>
        </select>
    </div>

    <!-- New Salary -->
    <div class="form-group">
        <label >Salary</label>
        <input class="form-control" type="text" name="salary" asp-for="Salary" placeholder="New salary" value="@Model.Salary">
    </div>

    <input type="submit" value="Update user" class="nav-link text-dark">
</form>
<br>

<!-- Users Table -->
<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Login
            </th>
            <th>
                Name
            </th>
            <th>
                Sex
            </th>
            <th>
                Salary
            </th>
            <th>
                Age
            </th>
            <th>
                BirthDay
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BirthDay)
            </td>
            <td>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">Delete user</a>
            </td>
            <td>
                <a asp-controller="User" asp-action="UpdateIndex" asp-route-id="@Model.Id">Update user</a>
            </td>
        </tr>
    </tbody>
</table>